<mat-card>
  <form [formGroup]="stockGroup" (submit)="onSubmit()">
    <label for="name">Name</label>
    <input matInput formControlName="name">

    <label for="quantite">Quantity</label>
    <input matInput formControlName="quantite">

    <button type="submit" [disabled]="!stockGroup.valid">Submit</button>
  </form>
</mat-card>
<mat-card>
  <table mat-table [dataSource]="stocks" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef> Quantity </th>
      <td mat-cell *matCellDef="let element"> {{element.quantite}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let element" class="actions">
            <button mat-mini-fab color="warn" (click)="delete(element)">-</button>
            <button mat-mini-fab color="green" (click)="add(element)">+</button>
        </td>
      
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</mat-card>

