.maps {
    width: 480px;
    height: 380px;
}

#title {

    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;

}

agm-map {
    height: 300px;
}