<mat-card class="heartCard">
    <div class='rythm'>{{bpm}}bpm</div>
    <div id="heart"></div>

    <div id="cardio">

        <div class="line start"></div>
        <div class="line up1"></div>
        <div class="line down"></div>
        <div class="line up2"></div>
        <div class="line shortEnd"></div>
        <div class="line up1 right"></div>
        <div class="line down right"></div>
        <div class="line up2 right"></div>
        <div class="line longEnd right"></div>
        <div class="pointer"></div>

        <!-- >What an ugly code ... i'll fix this later -->
        <div id="hide">
            <div id="notaline"></div>
        </div>
    </div>
</mat-card>