<div class="page-layout blank p-24" fusePerfectScrollbar>

    <h2>Welcome to your dashboard</h2>

    <div class="cards">
        <div class="card">
            <heartbeat class="heartbeat"></heartbeat>
        </div>
        <div class="card">
            <app-rate-glucose></app-rate-glucose>
        </div>
        <div class="card">
        <app-maps></app-maps>
        </div>
        <iframe
            allow="microphone;"
            width="350"
            height="430"
            src="https://console.dialogflow.com/api-client/demo/embedded/boa_bot">
        </iframe>
    </div>

</div>
