$swing-angle   : 5deg;
$rope-segment  : 8px;
$segment-scale : .95;
$swing-speed   : 5s;

div {
    background: #ccc;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    position: relative;
    border-radius: 50%;
}

div>div {
    font-size: $rope-segment;
    position: absolute;
    background-color: red;
    border-bottom: 1px solid red;
    top: 25px;
    left: 24px;
    width: 2px;
    height: 3em;
    border-radius: 0;
    transform-origin: top center;
    animation: pendulum $swing-speed;
    animation-timing-function: cubic-bezier(0.8, 0, 0.2, 1);
}

div>div>div {
    font-size: $segment-scale * 1em;
    top: 3em * (1 / $segment-scale);
    left: 0;
}

img {
    cursor: pointer;
}

@keyframes pendulum {
    0% {
        transform: rotate($swing-angle);
    }
    50% {
        transform: rotate(-$swing-angle);
    }
    100% {
        transform: rotate($swing-angle);
    }
}